<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test1.beforeTest()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7502</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.beforeClass()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.beforeMethod()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">f</td> 
  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.afterMethod()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7533</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.afterClass()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>20/05/15 01:48:21</td>   <td>7533</td> <td>&nbsp;</td><td title="&lt;&lt;Test1.afterTest()[pri:0, instance:com.Testandquiz.Testscripts.Test1@4f063c0a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
</table>
